xmllib/gamestarts.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:include schemaLocation="common.xsd" />

  <xs:simpleType name="gamestartimageid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9_]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gamestartid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9_]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gamestartmacroname">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9_]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gamestartmacropath">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9_./]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gamestartconnectionname">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9_]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gamestartcustomvalue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="galaxy" />
      <xs:enumeration value="sector" />
      <xs:enumeration value="zone" />
      <xs:enumeration value="stationpath" />
      <xs:enumeration value="stationmacro" />
      <xs:enumeration value="tradestation" />
      <xs:enumeration value="shipyard" />
      <xs:enumeration value="wharf" />
      <xs:enumeration value="equipmentdock" />
      <xs:enumeration value="defencestation" />
      <xs:enumeration value="piratebase" />
      <xs:enumeration value="headquarters" />
      <xs:enumeration value="shippath" />
      <xs:enumeration value="shipmacro" />
      <xs:enumeration value="roompath" />
      <xs:enumeration value="roommacro" />
      <xs:enumeration value="playerroom" />
      <xs:enumeration value="interiortype" />
      <xs:enumeration value="interiorname" />
      <xs:enumeration value="interiorcorridor" />
      <xs:enumeration value="interiordoor" />
      <xs:enumeration value="interiorroom" />
      <xs:enumeration value="modulepath" />
      <xs:enumeration value="modulemacro" />
      <xs:enumeration value="faction" />
      <xs:enumeration value="docked" />
      <xs:enumeration value="disembarked" />
      <xs:enumeration value="offset" />
      <xs:enumeration value="playeroffset" />
      <xs:enumeration value="player" />
      <xs:enumeration value="playername" />
      <xs:enumeration value="playermoney" />
      <xs:enumeration value="playerinventory" />
      <xs:enumeration value="playerblueprints" />
      <xs:enumeration value="playerstationblueprints" />
      <xs:enumeration value="playerbuildmethod" />
      <xs:enumeration value="playerresearch" />
      <xs:enumeration value="playerencyclopedia" />
      <xs:enumeration value="playertimeline" />
      <xs:enumeration value="playerknownfactions" />
      <xs:enumeration value="playerknownspace" />
      <xs:enumeration value="playerknownobjects" />
      <xs:enumeration value="playerpainttheme" />
      <xs:enumeration value="playerclothingtheme" />
      <xs:enumeration value="playerclothingmod" />
      <xs:enumeration value="playerproperty" />
      <xs:enumeration value="playerfemale" />
      <xs:enumeration value="ship" />
      <xs:enumeration value="shipname" />
      <xs:enumeration value="shiploadout" />
      <xs:enumeration value="shipcargo" />
      <xs:enumeration value="shippeople" />
      <xs:enumeration value="shippaintmod" />
      <xs:enumeration value="seed" />
      <xs:enumeration value="universeringhighways" />
      <xs:enumeration value="universelinearhighways" />
      <xs:enumeration value="universeregiondamagefactor" />
      <xs:enumeration value="universeobjectdensities" />
      <xs:enumeration value="universeyielddensities" />
      <xs:enumeration value="universeobjectyielddensities" />
      <xs:enumeration value="universeyieldreplenishtimedensities" />
      <xs:enumeration value="universehiddenobjectregionfactor" />
      <xs:enumeration value="universehiddenobjectstationfactor" />
      <xs:enumeration value="universejobquotafactors" />
      <xs:enumeration value="universegodquotafactors" />
      <xs:enumeration value="universefactionpolice" />
      <xs:enumeration value="universefactionrelations" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="regionobjectclasslookup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="asteroid" />
      <xs:enumeration value="mine" />
      <xs:enumeration value="lockbox" />
      <xs:enumeration value="object">
        <xs:annotation>
          <xs:documentation>
            Used for debris fields
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="positional">
        <xs:annotation>
          <xs:documentation>
            Used for nebula fields
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="knownobjectclasslookup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="object">
        <xs:annotation>
          <xs:documentation>
            Any object
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="asteroid" />
      <xs:enumeration value="mine" />
      <xs:enumeration value="lockbox" />
      <xs:enumeration value="ship">
        <xs:annotation>
          <xs:documentation>
            Any ship
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ship_xs" />
      <xs:enumeration value="ship_s" />
      <xs:enumeration value="ship_m" />
      <xs:enumeration value="ship_l" />
      <xs:enumeration value="ship_xl" />
      <xs:enumeration value="satellite" />
      <xs:enumeration value="station" />
      <xs:enumeration value="buildstorage" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="regionwarelookup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ore" />
      <xs:enumeration value="nividium" />
      <xs:enumeration value="silicon" />
      <xs:enumeration value="ice" />
      <xs:enumeration value="hydrogen" />
      <xs:enumeration value="helium" />
      <xs:enumeration value="methane" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="buildmethodlookup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="default">
        <xs:annotation>
          <xs:documentation>
            Universal
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="argon" />
      <xs:enumeration value="paranid" />
      <xs:enumeration value="teladi" />
      <xs:enumeration value="xenon" />
      <xs:enumeration value="split" />
      <xs:enumeration value="terran" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="gamestartgroup">
    <xs:attribute name="group" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Gamestart group number
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Group heading
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartgroups">
    <xs:sequence>
      <xs:element name="group" type="gamestartgroup" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Gamestart group heading definitions
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="gamestartcustomstate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="standard">
        <xs:annotation>
          <xs:documentation>
            Value can be customised and results in standard (unmodified) game
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="modified">
        <xs:annotation>
          <xs:documentation>
            Value can be customised but results in modified game
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="gamestartextensionsource">
    <xs:attribute name="type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Extension source type
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Extension source value
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartextension">
    <xs:sequence>
      <xs:element name="source" type="gamestartextensionsource" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Extension sources
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Extension ID
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="personal" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Extension is personal (defaults to false)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartinfoitem">
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Item name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Item description
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartinfo">
    <xs:sequence>
      <xs:element name="item" type="gamestartinfoitem" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Definition of one name/description text pair
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="requirement" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Description of requirement to make this gamestart available
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartunlockachievement">
    <xs:attribute name="ref" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Achievement name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartunlockuser">
    <xs:attribute name="ref" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          User data item name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          User data value
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mask" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Compare user data value as bitmask (otherwise use default behaviour, which is to compare exact value)?
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartunlock">
    <xs:sequence>
      <xs:element name="achievement" type="gamestartunlockachievement" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Achievement required to unlock gamestart
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="userdata" type="gamestartunlockuser" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            User data required to unlock gamestart
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartplayerlocation">
    <xs:sequence>
      <xs:element name="position" type="position" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Start position of player
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rotation" type="rotation" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Start rotation of player
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="room" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of room
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="disembarked" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Whether player is disembarked from player ship
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartinterior">
    <xs:attribute name="type" type="roomtypelookup">
      <xs:annotation>
        <xs:documentation>
          Interior type
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Interior name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="corridor" type="gamestartmacroname" use="required">
      <xs:annotation>
        <xs:documentation>
          Macro name of interior corridor
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="door" type="gamestartconnectionname" use="required">
      <xs:annotation>
        <xs:documentation>
          Connection name within corridor to which room should be attached
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="room" type="gamestartmacroname" use="required">
      <xs:annotation>
        <xs:documentation>
          Macro name of interior room
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="module" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of module within object in which to create interior
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="modulepath" type="gamestartmacropath">
      <xs:annotation>
        <xs:documentation>
          Macro path of module within object in which to create interior
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartlocation">
    <xs:sequence>
      <xs:element name="position" type="position" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Start position of player ship
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rotation" type="rotation" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Start rotation of player ship
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="player" type="gamestartplayerlocation" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Location of player if separate from ship
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="interior" type="gamestartinterior" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Dynamically created interior for player to start in
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="galaxy" type="gamestartmacroname" use="required">
      <xs:annotation>
        <xs:documentation>
          Macro name of galaxy to use for map
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sector" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of start sector within galaxy (ignored if start zone specified, random sector selected if neither specified)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="zone" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of start zone within galaxy
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="stationpath" type="gamestartmacropath">
      <xs:annotation>
        <xs:documentation>
          Macro path of station within galaxy
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="station" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of station
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tradestation" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is trade station (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="shipyard" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is shipyard (only used with station macro, no check made if not supplied - can be combined with wharf to require either shipyard or wharf)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="wharf" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is wharf (only used with station macro, no check made if not supplied - can be combined with shipyard to require either shipyard or wharf)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="equipmentdock" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is equipment dock (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="defencestation" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is defence station (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="piratebase" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is pirate base (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headquarters" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is headquarters (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="shippath" type="gamestartmacropath">
      <xs:annotation>
        <xs:documentation>
          Macro path of ship within galaxy
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ship" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of ship
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="roompath" type="gamestartmacropath">
      <xs:annotation>
        <xs:documentation>
          Macro path of room within galaxy
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="room" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of room
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="faction" type="factionlookup">
      <xs:annotation>
        <xs:documentation>
          Faction name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="docked" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Whether player ship should be docked
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartloadout">
    <xs:sequence>
      <xs:group ref="loadoutelements">
        <xs:annotation>
          <xs:documentation>
            Loadout definition
          </xs:documentation>
        </xs:annotation>
      </xs:group>
    </xs:sequence>
    <xs:attribute name="debug" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Loadout is debug-only
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartconstructionsequence">
    <xs:sequence>
      <xs:group ref="constructionsequenceelements">
        <xs:annotation>
          <xs:documentation>
            Construction sequence definition
          </xs:documentation>
        </xs:annotation>
      </xs:group>
    </xs:sequence>
    <xs:attribute name="debug" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Construction sequence is debug-only
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartware">
    <xs:attribute name="ware" type="ware" use="required">
      <xs:annotation>
        <xs:documentation>
          Ware reference
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="amount" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Amount of ware
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="debug" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Ware entry is debug-only
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartwares">
    <xs:sequence>
      <xs:element name="ware" type="gamestartware" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Ware and amount
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartpeople">
    <xs:attribute name="people" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          People reference (refers to an entry in people.xml)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartshipmod">
    <xs:attribute name="paint" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Paint mod
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartplayership">
    <xs:sequence>
      <xs:element name="loadout" type="gamestartloadout" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Player ship loadout
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modification" type="gamestartshipmod" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Player ship mods
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cargo" type="gamestartwares" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Player ship cargo
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="people" type="gamestartpeople" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Player ship people
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="macro" type="gamestartmacroname" use="required">
      <xs:annotation>
        <xs:documentation>
          Player ship macro
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Player ship name (if different to that in the player ship macro)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartblueprintware">
    <xs:attribute name="ware" type="ware" use="required">
      <xs:annotation>
        <xs:documentation>
          Blueprint ware name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="method" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Ware production method
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cycle" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Cycle efficiency
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="product" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Product efficiency
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="resource" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Resource efficiency
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartblueprints">
    <xs:sequence>
      <xs:element name="ware" type="gamestartblueprintware" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Blueprint
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="station" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Include blueprints for player-owned stations (defaults to true)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartbuild">
    <xs:attribute name="method" type="buildmethodlookup" use="optional">
      <xs:annotation>
        <xs:documentation>
          Default build method
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartresearchware">
    <xs:attribute name="ware" type="ware" use="required">
      <xs:annotation>
        <xs:documentation>
          Blueprint ware name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cycle" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Cycle efficiency
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="product" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Product efficiency
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="resource" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Resource efficiency
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartresearch">
    <xs:sequence>
      <xs:element name="ware" type="gamestartresearchware" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Research item
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="gamestartinfolibrarytypelookupextension">
    <xs:restriction base="xs:string">
      <xs:enumeration value="warebasket" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="gamestartinfolibrarytypelookup">
    <xs:union memberTypes="gamestartinfolibrarytypelookupextension infolibrarytypelookup" />
  </xs:simpleType>

  <xs:complexType name="gamestartencyclopediaentry">
    <xs:attribute name="type" type="gamestartinfolibrarytypelookup" use="required">
      <xs:annotation>
        <xs:documentation>
          Encyclopedia entry type (timeline entries should be added to the timeline section, and will be ignored if added here)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Item (faction, ware, etc.) reference
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartencyclopedia">
    <xs:sequence>
      <xs:element name="entry" type="gamestartencyclopediaentry" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Encyclopedia entry
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestarttimelineentry">
    <xs:attribute name="ref" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Timeline entry ID
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestarttimeline">
    <xs:sequence>
      <xs:element name="entry" type="gamestarttimelineentry" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Timeline entry
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartknownfaction">
    <xs:attribute name="faction" type="factionlookup" use="required">
      <xs:annotation>
        <xs:documentation>
          Faction
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="known" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Known? (default is true)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartknownfactions">
    <xs:sequence>
      <xs:element name="faction" type="gamestartknownfaction" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Known faction
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartknownspace">
    <xs:attribute name="cluster" type="gamestartmacroname" use="optional">
      <xs:annotation>
        <xs:documentation>
          Macro name of cluster to set as known (overrides sector and zone, if faction is specified also sets all contained sectors owned by faction as known, otherwise sets all contained sectors as known, also sets all zones contained in found sectors as known)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sector" type="gamestartmacroname" use="optional">
      <xs:annotation>
        <xs:documentation>
          Macro name of sector to set as known (overrides zone, also sets containing cluster and all contained zones as known)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="zone" type="gamestartmacroname" use="optional">
      <xs:annotation>
        <xs:documentation>
          Macro name of zone to set as known (also sets containing cluster and sector as known, also sets all adjacent highways as known)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="faction" type="factionlookup" use="optional">
      <xs:annotation>
        <xs:documentation>
          Faction (if cluster is specifid sets all contained sectors owned by faction as known, otherwise sets all sectors owned by faction as known, also sets containing clusters of found sectors as known, also sets contained clusters of found sectors as known)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="known" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Known? (default is true)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartknownspaces">
    <xs:sequence>
      <xs:element name="space" type="gamestartknownspace" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Known space
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartknownobject">
    <xs:attribute name="cluster" type="gamestartmacroname" use="optional">
      <xs:annotation>
        <xs:documentation>
          Macro name of cluster to search
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sector" type="gamestartmacroname" use="optional">
      <xs:annotation>
        <xs:documentation>
          Macro name of sector to search (overrides cluster)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="zone" type="gamestartmacroname" use="optional">
      <xs:annotation>
        <xs:documentation>
          Macro name of zone to search (overrides cluster and sector)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="faction" type="factionlookup" use="optional">
      <xs:annotation>
        <xs:documentation>
          Filters found objects by faction
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="class" type="knownobjectclasslookup" use="optional">
      <xs:annotation>
        <xs:documentation>
          Filters found objects by class
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="object" type="gamestartmacroname" use="optional">
      <xs:annotation>
        <xs:documentation>
          Filters found objects by macro
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tradestation" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Object is trade station (no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="shipyard" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Object is shipyard (no check made if not supplied - can be combined with wharf to require either shipyard or wharf)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="wharf" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Object is wharf (no check made if not supplied - can be combined with shipyard to require either shipyard or wharf)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="equipmentdock" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Object is equipment dock (no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="defencestation" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Object is defence station (no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="piratebase" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Object is pirate base (no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headquarters" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Object is headquarters (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="known" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Known? (default is true)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartknownobjects">
    <xs:sequence>
      <xs:element name="object" type="gamestartknownobject" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Known object (almsi sets the containing zone, its adjacent highways, and its containing sector and cluster as known)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestarttheme">
    <xs:attribute name="paint" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Paint theme
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="clothing" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Clothing theme
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartplayermod">
    <xs:attribute name="clothing" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Clothing mod
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartpropertylocation">
    <xs:sequence>
      <xs:element name="position" type="position" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Start position of station
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rotation" type="rotation" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Start rotation of station
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="sector" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of sector for station
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="zone" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of zone for station
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="faction" type="factionlookup">
      <xs:annotation>
        <xs:documentation>
          Owner faction name for location
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartpropertyshiplocation">
    <xs:sequence>
      <xs:element name="position" type="position" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Start position of ship
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rotation" type="rotation" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Start rotation of ship
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="sector" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of sector for ship
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="zone" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of zone for ship
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="station" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of station at which this ship should be docked
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tradestation" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is trade station (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="shipyard" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is shipyard (only used with station macro, no check made if not supplied - can be combined with wharf to require either shipyard or wharf)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="wharf" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is wharf (only used with station macro, no check made if not supplied - can be combined with shipyard to require either shipyard or wharf)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="equipmentdock" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is equipment dock (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="defencestation" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is defence station (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="piratebase" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is pirate base (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="headquarters" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Station is headquarters (only used with station macro, no check made if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ship" type="gamestartmacroname">
      <xs:annotation>
        <xs:documentation>
          Macro name of ship at which this ship should be docked
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="faction" type="factionlookup">
      <xs:annotation>
        <xs:documentation>
          Owner faction name for location
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="docked" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Whether ship should be docked
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartpropertystation">
    <xs:sequence>
      <xs:element name="location" type="gamestartpropertylocation" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Station location
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="construction" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Station construction plan
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sequence" type="gamestartconstructionsequence" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  Construction sequence
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cargo" type="gamestartwares" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Station cargo
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Property id (used when referencing setting commander or docked-at location for player-owned ships also defined in this gamestart)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="macro" type="gamestartmacroname" use="required">
      <xs:annotation>
        <xs:documentation>
          Station macro
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Station name (uses default if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartpropertyobject">
    <xs:sequence>
      <xs:element name="location" type="gamestartpropertylocation" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Object location
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Property id (used when referencing setting commander or docked-at location for player-owned ships also defined in this gamestart)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="macro" type="gamestartmacroname" use="required">
      <xs:annotation>
        <xs:documentation>
          Object macro
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Object name (uses default if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartpropertyship">
    <xs:sequence>
      <xs:element name="location" type="gamestartpropertyshiplocation" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Ship location
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="loadout" type="gamestartloadout" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Ship loadout
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cargo" type="gamestartwares" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Ship cargo
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="people" type="gamestartpeople" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Ship people
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Property id (used when referencing setting commander or docked-at location for player-owned ships also defined in this gamestart)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="macro" type="gamestartmacroname" use="required">
      <xs:annotation>
        <xs:documentation>
          Ship macro
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Ship name (uses default if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartproperty">
    <xs:sequence>
      <xs:element name="station" type="gamestartpropertystation" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Player-owned station
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="object" type="gamestartpropertyobject" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Player-owned object (can be any ownable object that is not a station or ship)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ship" type="gamestartpropertyship" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Player-owned ship
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartplayer">
    <xs:sequence>
      <xs:element name="ship" type="gamestartplayership" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Player ship
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inventory" type="gamestartwares" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Inventory
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="blueprints" type="gamestartblueprints" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Blueprints
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="build" type="gamestartbuild" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Build
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="research" type="gamestartresearch" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Research
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encyclopedia" type="gamestartencyclopedia" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Encyclopedia
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timeline" type="gamestarttimeline" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Timeline
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="knownfactions" type="gamestartknownfactions" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Known factions
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="knownspace" type="gamestartknownspaces" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Known space
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="knownobjects" type="gamestartknownobjects" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Known objects
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="property" type="gamestartproperty" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Player property
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="theme" type="gamestarttheme" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Theme
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modification" type="gamestartplayermod" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Player mods
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="macro" type="gamestartmacroname" use="required">
      <xs:annotation>
        <xs:documentation>
          Player macro
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Player name (if different to that in the player macro)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="female" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Player is female (must match player macro, defaults to false)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="money" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Player starting money
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartuniversehighways">
    <xs:attribute name="ring" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Enable ring highways (default true)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="linear" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Enable linear (non-ring) highways (default true)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartuniverseregionclassfactor">
    <xs:attribute name="class" type="regionobjectclasslookup" use="required">
      <xs:annotation>
        <xs:documentation>
          Object class
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="factor" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Density factor
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartuniverseregionwarefactor">
    <xs:attribute name="ref" type="regionwarelookup" use="required">
      <xs:annotation>
        <xs:documentation>
          Ware
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="factor" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Density factor
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartuniverseregionobjectdensity">
    <xs:sequence>
      <xs:element name="component" type="gamestartuniverseregionclassfactor" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Highway configuration
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniverseregionobjects">
    <xs:sequence>
      <xs:element name="density" type="gamestartuniverseregionobjectdensity" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Region object density
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniverseregionywares">
    <xs:sequence>
      <xs:element name="ware" type="gamestartuniverseregionwarefactor" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Ware factor
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniverseregionyield">
    <xs:sequence>
      <xs:element name="density" type="gamestartuniverseregionywares" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Region yield density
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="object" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="density" type="gamestartuniverseregionywares" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  Region object yield density
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="replenish" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="time" type="gamestartuniverseregionywares" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  Region yield replenish time
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniverseregions">
    <xs:sequence>
      <xs:element name="object" type="gamestartuniverseregionobjects" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Region objects
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="yield" type="gamestartuniverseregionyield" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Region yields
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniversehiddenobjects">
    <xs:attribute name="region" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Region hidden object factor
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="station" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Station hidden object factor
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartuniversequotafactor">
    <xs:attribute name="faction" type="factionlookup">
      <xs:annotation>
        <xs:documentation>
          Faction (either faction or tag, or both, must be provided)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tag" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Tag (either faction or tag, or both, must be provided)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="factor" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Quota factor (set to 0 to disable, any non-0 value enables it if it was previously disabled)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartuniversequotas">
    <xs:sequence>
      <xs:element name="quota" type="gamestartuniversequotafactor" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Quota
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniversejobs">
    <xs:sequence>
      <xs:element name="quotas" type="gamestartuniversequotas" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Job Quotas
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniversegod">
    <xs:sequence>
      <xs:element name="quotas" type="gamestartuniversequotas" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            God quotas
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniversefactionpolicefaction">
    <xs:attribute name="faction" type="factionlookup" use="required">
      <xs:annotation>
        <xs:documentation>
          Faction
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="policefaction" type="factionlookup" use="optional">
      <xs:annotation>
        <xs:documentation>
          Police faction (defaults to self for police factions or none for non-police factions if not supplied)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartuniversefactionpolice">
    <xs:sequence>
      <xs:element name="faction" type="gamestartuniversefactionpolicefaction" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Police
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniversefactionrelation">
    <xs:attribute name="faction" type="factionlookup" use="required">
      <xs:annotation>
        <xs:documentation>
          Faction
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="otherfaction" type="factionlookup" use="required">
      <xs:annotation>
        <xs:documentation>
          Other faction
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="relation" type="xs:float" use="required">
      <xs:annotation>
        <xs:documentation>
          Initial faction relation (range is -1.0 to 1.0, but may be further limited by min/max values in factions.xml)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartuniversefactionrelations">
    <xs:sequence>
      <xs:element name="relation" type="gamestartuniversefactionrelation" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Relation
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniversefactions">
    <xs:sequence>
      <xs:element name="police" type="gamestartuniversefactionpolice" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Faction police 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relations" type="gamestartuniversefactionrelations" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Faction relations
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="gamestartuniverseaccesslicence">
    <xs:attribute name="macro" type="gamestartmacroname" use="required">
      <xs:annotation>
        <xs:documentation>
          Location macro
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="faction" type="factionlookup" use="required">
      <xs:annotation>
        <xs:documentation>
          Owner faction for licence
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="licence" type="licencelookup" use="required">
      <xs:annotation>
        <xs:documentation>
          Licence type
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartuniverseaccesslicences">
    <xs:sequence>
      <xs:element name="accesslicence" type="gamestartuniverseaccesslicence" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Access licence
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartuniverse">
    <xs:sequence>
      <xs:element name="highways" type="gamestartuniversehighways" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Highway configuration
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="regions" type="gamestartuniverseregions" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Region configuration
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hiddenobjects" type="gamestartuniversehiddenobjects" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Hidden object configuration
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="jobs" type="gamestartuniversejobs" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Job configuration
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="god" type="gamestartuniversegod" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            God configuration
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="factions" type="gamestartuniversefactions" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Faction configuration
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accesslicences" type="gamestartuniverseaccesslicences" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Faction access licences
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="seed" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Universe generation random number seed (an integer value will be used directly, any other string will be converted to a hash)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="visitors" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Allow visitors (default true)?
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ventures" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Allow ventures (default true)?
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartoption">
    <xs:sequence>
      <xs:element name="unlock" type="gamestartunlock" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Unlock requirements for option
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Option id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Option name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Option description
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="group" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Option group
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="default" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Option is selected by default (false unless specified, for grouped options only one option in the group should be set as default)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartoptions">
    <xs:sequence>
      <xs:element name="option" type="gamestartoption" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Option
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestartcustomitem">
    <xs:attribute name="value" type="gamestartcustomvalue" use="required">
      <xs:annotation>
        <xs:documentation>
          Custom value id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="state" type="gamestartcustomstate" use="optional">
      <xs:annotation>
        <xs:documentation>
          Custom value state
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="min" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Minimum value
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="max" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Maximum value
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="list" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          List of valid values (space-separated, ignored if min/max attributes specified)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestartcustom">
    <xs:sequence>
      <xs:element name="item" type="gamestartcustomitem" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Custom item
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gamestart">
    <xs:sequence>
      <xs:element name="extension" type="gamestartextension" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Details of extension that includes gamestart
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="info" type="gamestartinfo" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Descriptive text for new game menu
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unlock" type="gamestartunlock" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Unlock requirements for gamestart
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" type="gamestartlocation" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Map and start location
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="player" type="gamestartplayer" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Player information
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="universe" type="gamestartuniverse" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Universe configuration settings
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="options" type="gamestartoptions" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Gamestart options
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="custom" type="gamestartcustom" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Custom gamestart settings
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="gamestartid" use="required">
      <xs:annotation>
        <xs:documentation>
           Gamestart id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Gamestart name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Gamestart description
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="image" type="gamestartimageid">
      <xs:annotation>
        <xs:documentation>
          Gamestart image
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cutscene" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Gamestart cutscene name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cutscenevoice" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Gamestart cutscene voice sequence name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="loadingscreen" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Initial loading screen to be displayed for this gamestart.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="loadingscreentext" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The text to be displayed on the gamestart specific loading screen. Empty, if no text should be displayed.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="loadingscreentime" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Time (in s) for how long the loading screen is to be displayed (0 implies only that screen being displayed / only applicable if loadingscreen is specified).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="intro" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Gamestart intro animation
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="introvoice" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Gamestart intro animation voice sequence name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="group" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Gamestart group number
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="debug" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          Gamestart is debug-only
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="gamestarts">
    <xs:sequence>
      <xs:element name="groups" type="gamestartgroups" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Definition of gamestart group headings
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gamestart" type="gamestart" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Definition of a single gamestart
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="gamestarts" type="gamestarts">
    <xs:annotation>
      <xs:documentation>
        Gamestarts
      </xs:documentation>
    </xs:annotation>
  </xs:element>

</xs:schema>
