xmllib/loadoutrules.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:include schemaLocation="common.xsd" />

  <xs:simpleType name="loadoutruletypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="default" />
      <xs:enumeration value="player" />
      <xs:enumeration value="xenon" />
      <xs:enumeration value="shipyard" />
      <xs:enumeration value="military" />
      <xs:enumeration value="highvalue" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="unitcategories">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="build" />
      <xs:enumeration value="defence" />
      <xs:enumeration value="gascollector" />
      <xs:enumeration value="orecollector" />
      <xs:enumeration value="police" />
      <xs:enumeration value="repair" />
      <xs:enumeration value="transport" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="deployablecategories">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="mine" />
      <xs:enumeration value="lasertower" />
      <xs:enumeration value="navbeacon" />
      <xs:enumeration value="resourceprobe" />
      <xs:enumeration value="satellite" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="loadoutrulemacro">
    <xs:attribute name="mk" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          The mk number of the unit/deployable category
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="macro" type="macroname">
      <xs:annotation>
        <xs:documentation>
          Unit macro
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tags" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Space-separated list of tags
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="factions" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Space-separated list of factions
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="restricted" type="boolean">
      <xs:annotation>
        <xs:documentation>
          Use is restricted
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="loadoutrule">
    <xs:attribute name="mk" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          The mk number of the unit/deployable category
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="weight" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Weighting for distribution over unit/deployable capacity
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="requiredocking" type="boolean">
      <xs:annotation>
        <xs:documentation>
          Entry will only be processed for objects that have at least one dockingbay allowing a unit/deployable of the matching size to dock
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="requireundocking" type="boolean">
      <xs:annotation>
        <xs:documentation>
          Entry will only be processed for objects that have at least one dockingbay allowing a unit/deployable of the matching size to undock
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="important" type="boolean">
      <xs:annotation>
        <xs:documentation>
          Unit type is important for the operation of the ship/station, the system will attempt to ensure at least one unit/deployable of this type is added
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cargotags" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Entry will only be processed for objects where available storage supports cargo of at least one of the specified tags
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="factiontags" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Entry will only be processed for objects where the owner faction matches at least one of the specified tags
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="classes" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          If non-empty, entry will only be processed for objects matching exactly one of the specified class(es)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="purposes" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          If non-empty, entry will only be processed for objects that have a primary pruposes matching exactly one of the the specified purpose(s)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:element name="rules">
    <xs:annotation>
      <xs:documentation>
        Loadout rules root node
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="unit" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="macros" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="macro" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="category" type="unitcategories">
                          <xs:annotation>
                            <xs:documentation>
                              Unit category
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attributeGroup ref="loadoutrulemacro" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="rules" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ruleset" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rule" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="category" type="unitcategories">
                                <xs:annotation>
                                  <xs:documentation>
                                    Unit category
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attributeGroup ref="loadoutrule" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" type="loadoutruletypes">
                          <xs:annotation>
                            <xs:documentation>
                              Loadout rule type
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="waregroups" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>
                              Space separated list of waregroup names. The wares associated with these groups will be checked against the products and tradewares of the station to see if it fits into this category
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="deployable" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="macros" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="macro" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="category" type="deployablecategories">
                          <xs:annotation>
                            <xs:documentation>
                              Deployable category
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attributeGroup ref="loadoutrulemacro" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="rules" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ruleset" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rule" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="category" type="deployablecategories">
                                <xs:annotation>
                                  <xs:documentation>
                                    Deployable category
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attributeGroup ref="loadoutrule" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" type="loadoutruletypes">
                          <xs:annotation>
                            <xs:documentation>
                              Loadout rule type
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="waregroups" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>
                              Space separated list of waregroup names. The wares associated with these groups will be checked against the products and tradewares of the station to see if it fits into this category
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
