xmllib/sound_library.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:simpleType name="selectionlookup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="one" />
      <xs:enumeration value="random" />
      <xs:enumeration value="random_except" />
      <xs:enumeration value="choose" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="filtermodelookup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lowpass" />
      <xs:enumeration value="bandpass" />
      <xs:enumeration value="highpass" />
      <xs:enumeration value="notch" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="roomlookup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="default" />
      <xs:enumeration value="generic" />
      <xs:enumeration value="padded cell" />
      <xs:enumeration value="room" />
      <xs:enumeration value="bath room" />
      <xs:enumeration value="living room" />
      <xs:enumeration value="stone room" />
      <xs:enumeration value="auditorium" />
      <xs:enumeration value="concert hall" />
      <xs:enumeration value="cave" />
      <xs:enumeration value="arena" />
      <xs:enumeration value="hangar" />
      <xs:enumeration value="carpeted hallway" />
      <xs:enumeration value="hallway" />
      <xs:enumeration value="stone corridor" />
      <xs:enumeration value="alley" />
      <xs:enumeration value="forest" />
      <xs:enumeration value="city" />
      <xs:enumeration value="mountains" />
      <xs:enumeration value="quarry" />
      <xs:enumeration value="plain" />
      <xs:enumeration value="parking lot" />
      <xs:enumeration value="sewer pipe" />
      <xs:enumeration value="underwater" />
      <xs:enumeration value="small room" />
      <xs:enumeration value="medium room" />
      <xs:enumeration value="large room" />
      <xs:enumeration value="medium hall" />
      <xs:enumeration value="large hall" />
      <xs:enumeration value="plate" />
      <xs:enumeration value="drugged" />
      <xs:enumeration value="dizzy" />
      <xs:enumeration value="psychotic" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="sample">
    <xs:attribute name="start" />
    <xs:attribute name="loop" />
    <xs:attribute name="end" />
    <xs:attribute name="startduration" />
    <xs:attribute name="loopduration" />
    <xs:attribute name="endduration" />
  </xs:attributeGroup>

  <xs:complexType name="sample">
    <xs:annotation>
      <xs:documentation>
        Sound sample or selection of samples
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="select" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attributeGroup ref="sample" />
          <xs:attribute name="weight" type="xs:integer" />
          <xs:attribute name="index" type="xs:integer" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="sample" />
    <xs:attribute name="selection" type="selectionlookup" />
  </xs:complexType>

  <xs:simpleType name="curveinputs">
    <xs:union memberTypes="xs:string">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="boostchargeprogress">
            <xs:annotation>
              <xs:documentation>
                Boost charge progress (between 0 and 1)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="forwardspeed">
            <xs:annotation>
              <xs:documentation>
                Relative forward speed (between -1 and 1)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="forwardspeeddiff">
            <xs:annotation>
              <xs:documentation>
                Relative difference between current and target forward speed (can be between -2 and 2)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ikspeed_linear">
            <xs:annotation>
              <xs:documentation>
                Total IK translation speed of the sound's position reference (can be between 0 and 1)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ikspeed_x">
            <xs:annotation>
              <xs:documentation>
                IK x translation speed of the sound's position reference (can be between 0 and 1)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ikspeed_y">
            <xs:annotation>
              <xs:documentation>
                IK y translation speed of the sound's position reference (can be between 0 and 1)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ikspeed_z">
            <xs:annotation>
              <xs:documentation>
                IK z translation speed of the sound's position reference (can be between 0 and 1)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ikspeed_angular">
            <xs:annotation>
              <xs:documentation>
                Total IK rotation speed of the sound's position reference (can be between 0 and 1)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ikspeed_pitch">
            <xs:annotation>
              <xs:documentation>
                IK pitch rotation speed of the sound's position reference (can be between 0 and 1)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ikspeed_yaw">
            <xs:annotation>
              <xs:documentation>
                IK yaw rotation speed of the sound's position reference (can be between 0 and 1)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ikspeed_roll">
            <xs:annotation>
              <xs:documentation>
                IK roll rotation speed of the sound's position reference (can be between 0 and 1)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="customcurve">
    <xs:sequence>
      <xs:element name="point" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="position" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Input value
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="value" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Output value for this point's input value
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="default" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Default value, used when input is outside of bounds defined by the curve
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="input" type="curveinputs">
      <xs:annotation>
        <xs:documentation>
          The value to be used for curve input (not required in some cases)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="distancecurve">
    <xs:annotation>
      <xs:documentation>
        Sound Volume Curve
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="point" minOccurs="2" maxOccurs="4">
        <xs:complexType>
          <xs:attribute name="distance" type="xs:float" />
          <xs:attribute name="volume" type="xs:float" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="volume">
    <xs:annotation>
      <xs:documentation>
        Sound volume
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="distancecurve" type="distancecurve" minOccurs="0" maxOccurs="1" />
      <xs:element name="lfecurve" type="distancecurve" minOccurs="0" maxOccurs="1" />
      <xs:element name="lpfdirectcurve" type="distancecurve" minOccurs="0" maxOccurs="1" />
      <xs:element name="lpfreverbcurve" type="distancecurve" minOccurs="0" maxOccurs="1" />
      <xs:element name="reverbcurve" type="distancecurve" minOccurs="0" maxOccurs="1" />
      <xs:element name="customcurve" type="customcurve" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="start" type="xs:float" />
    <xs:attribute name="loop" type="xs:float" />
    <xs:attribute name="end" type="xs:float" />
    <xs:attribute name="distance" type="xs:float" />
  </xs:complexType>

  <xs:complexType name="pitch">
    <xs:annotation>
      <xs:documentation>
        Sound pitch
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="customcurve" type="customcurve" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="lfe">
    <xs:annotation>
      <xs:documentation>
        Sound low pass filter
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="customcurve" type="customcurve" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="start" type="xs:float" />
    <xs:attribute name="loop" type="xs:float" />
    <xs:attribute name="end" type="xs:float" />
    <xs:attribute name="distance" type="xs:float" />
  </xs:complexType>

  <xs:complexType name="effects">
    <xs:all>
      <xs:element name="doppler" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="factor" type="xs:float" />
        </xs:complexType>
      </xs:element>
      <xs:element name="fade" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="in" type="xs:float" />
          <xs:attribute name="out" type="xs:float" />
        </xs:complexType>
      </xs:element>
      <xs:element name="filter" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="mode" type="filtermodelookup" />
          <xs:attribute name="frequency" type="xs:float" />
          <xs:attribute name="oneoverq" type="xs:float" />
        </xs:complexType>
      </xs:element>
      <xs:element name="reverb" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="room" type="roomlookup" />
          <xs:attribute name="roomsize" type="xs:float" />
          <xs:attribute name="drymix" type="xs:float" />
          <xs:attribute name="density" type="xs:float" />
        </xs:complexType>
      </xs:element>
      <xs:element name="pitch" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="start" type="xs:float" />
          <xs:attribute name="end" type="xs:float" />
          <xs:attribute name="steps" type="xs:unsignedShort" />
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:attributeGroup name="random_noise">
    <xs:attribute name="interval" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Average interval between random background noise samples (actual intervals are random with exponential distribution)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="taglist">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="damaged" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>

  <xs:complexType name="random_noise">
    <xs:sequence>
      <xs:element name="override" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attributeGroup ref="random_noise" />
          <xs:attribute name="tags" use="required" type="taglist" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="random_noise" />
  </xs:complexType>

  <xs:complexType name="sound">
    <xs:annotation>
      <xs:documentation>
        Sound definition
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="sample" type="sample" minOccurs="1" maxOccurs="1" />
      <xs:element name="volume" type="volume" minOccurs="0" maxOccurs="1" />
      <xs:element name="pitch" type="pitch" minOccurs="0" maxOccurs="1" />
      <xs:element name="lfe" type="lfe" minOccurs="0" maxOccurs="1" />
      <xs:element name="effects" type="effects" minOccurs="0" maxOccurs="1" />
      <xs:element name="random_noise" type="random_noise" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Unique sound ID
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Sound description
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tag" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Connection tag where the sound should be played
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="repeat">
      <xs:annotation>
        <xs:documentation>
          How often is playback executed?
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:short">
              <xs:minInclusive value="1" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:short">
              <xs:enumeration value="1">
                <xs:annotation>
                  <xs:documentation>
                    Play sound once (default)
                  </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="-1">
                <xs:annotation>
                  <xs:documentation>
                    Infinite loop
                  </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="is3d" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          This sound needs 3D control
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isunique" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          This sound can only be played one at a time
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="preload" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          This sound should be preloaded on gamestart
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="amount" type="xs:unsignedShort">
      <xs:annotation>
        <xs:documentation>
          Maximum/simultaneous number of active Sounds
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="groupsoundtags">
    <xs:union memberTypes="xs:string">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ambient">
            <xs:annotation>
              <xs:documentation>
                Always active
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="boostcharging">
            <xs:annotation>
              <xs:documentation>
                Active while boost is charging
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="boosting">
            <xs:annotation>
              <xs:documentation>
                Active while boosting
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="accelerate">
            <xs:annotation>
              <xs:documentation>
                Triggered when throttle is increased
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="decelerate">
            <xs:annotation>
              <xs:documentation>
                Triggered when throttle is reduced
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="boostchargestarted">
            <xs:annotation>
              <xs:documentation>
                Triggered when boost charge starts (doesn't happen if there is no charge time)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="boostchargestopped">
            <xs:annotation>
              <xs:documentation>
                Triggered when boost charge is aborted before it finished
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="booststarted">
            <xs:annotation>
              <xs:documentation>
                Triggered when actual boost starts
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="booststopped">
            <xs:annotation>
              <xs:documentation>
                Triggered when boost stops, either manually or due to timeout (doesn't happen if boost was still charging)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="groupsound">
    <xs:annotation>
      <xs:documentation>
        Sound reference
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="sample" type="sample" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Sample (only if not using ref)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="volume" type="volume" minOccurs="0" maxOccurs="1" />
      <xs:element name="pitch" type="pitch" minOccurs="0" maxOccurs="1" />
      <xs:element name="lfe" type="lfe" minOccurs="0" maxOccurs="1" />
      <xs:element name="effects" type="effects" minOccurs="0" maxOccurs="1" />
      <xs:element name="random_noise" type="random_noise" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="id" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Unique sound ID (id and ref cannot be used together)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Reference to unique sound ID (id and ref cannot be used together)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Sound description (only if not using ref)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tag" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Connection tag where the sound should be played (only if not using ref)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tags" type="groupsoundtags">
      <xs:annotation>
        <xs:documentation>
          Group sound tags
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="repeat">
      <xs:annotation>
        <xs:documentation>
          How often is playback executed? (only if not using ref)
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:short">
              <xs:minInclusive value="1" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:short">
              <xs:enumeration value="1">
                <xs:annotation>
                  <xs:documentation>
                    Play sound once (default)
                  </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="-1">
                <xs:annotation>
                  <xs:documentation>
                    Infinite loop
                  </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="is3d" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          This sound needs 3D control (only if not using ref)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isunique" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          This sound can only be played one at a time (only if not using ref)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="preload" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          This sound should be preloaded on gamestart (only if not using ref)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="amount" type="xs:unsignedShort">
      <xs:annotation>
        <xs:documentation>
          Maximum/simultaneous number of active Sounds (only if not using ref)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="soundgroup">
    <xs:annotation>
      <xs:documentation>
        Sound group definition
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sound" type="groupsound" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Unique sound group ID
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="soundlibrary">
    <xs:annotation>
      <xs:documentation>
        Sound library document node
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element name="sound" type="sound" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:sequence>
          <xs:element name="group" type="soundgroup" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="sound_id">
      <xs:selector xpath="sound" />
      <xs:field xpath="@id" />
    </xs:key>
  </xs:element>

</xs:schema>
