xmllib/unlocks.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:simpleType name="unitvalue">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+[\.]?[0-9]*([ ]*(m|km|ms|s|min|h))?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="profilelookup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="flat">
        <xs:annotation>
          <xs:documentation>
            Flat (linear) distribution, default if no profile specified
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="increasing">
        <xs:annotation>
          <xs:documentation>
            Higher numbers are more likely
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="decreasing">
        <xs:annotation>
          <xs:documentation>
            Lower numbers are more likely
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bell">
        <xs:annotation>
          <xs:documentation>
            Numbers in the middle of the range are more likely
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inversebell">
        <xs:annotation>
          <xs:documentation>
            Higher and lower numbers are more likely than those in the middle
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="random">
    <xs:attribute name="exact" type="unitvalue">
      <xs:annotation>
        <xs:documentation>
          Exact value (takes priority over min/max/profile/scale)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="min" type="unitvalue">
      <xs:annotation>
        <xs:documentation>
          Minimum random number (ignored if exact is set)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="max" type="unitvalue">
      <xs:annotation>
        <xs:documentation>
          Maximum random number (ignored if exact is set)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="profile" type="profilelookup">
      <xs:annotation>
        <xs:documentation>
          Random number profile (ignored if exact is set)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="scale">
      <xs:annotation>
        <xs:documentation>
          Scale of random number profile (ignored if exact is set or if profile is flat)
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="classlist">
    <xs:annotation>
      <xs:documentation>
        Allowed classes of object the signal leak is attached to. Specify multiple separated by space. Allows all if omitted
      </xs:documentation>
    </xs:annotation>
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>

  <xs:complexType name="amount">
    <xs:attributeGroup ref="random" >
      <xs:annotation>
        <xs:documentation>
          Random amount value.
        </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>

  <xs:complexType name="time">
    <xs:attributeGroup ref="random" >
      <xs:annotation>
        <xs:documentation>
          Random time value.
        </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>

  <xs:complexType name="distance">
    <xs:attributeGroup ref="random">
      <xs:annotation>
        <xs:documentation>
          Maximum distance at which to unlock (default: as defined by globals node)
        </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>

  <xs:complexType name="viewangle">
    <xs:annotation>
      <xs:documentation>
        Maximum angle away from crosshair center (horizontal or vertical), in positive degrees (default: 180, i.e. no restriction)
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="max">
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="1" />
          <xs:maxInclusive value="180" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="scannerlevel">
    <xs:annotation>
      <xs:documentation>
        Minimum/maximum level of the scanner that can unlock this (default: 0 to MAX_SCAN_LEVEL, i.e. no restriction)
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="min" type="xs:integer" />
    <xs:attribute name="max" type="xs:integer" />
  </xs:complexType>

  <xs:simpleType name="weight">
    <xs:annotation>
      <xs:documentation>
        Weight value, defaults to 1.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="owner">
    <xs:annotation>
      <xs:documentation>
        Specify at which locations this unlock may be triggered based on who owns the object.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="factions" type="xs:string" >
      <xs:annotation>
        <xs:documentation>
          Space-separated list of factions (e.g. aquarius).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="negate" type="xs:boolean" >
      <xs:annotation>
        <xs:documentation>
          True to allow only owner factions that are NOT listed in the factions attribute, defaults to false.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="relation">
    <xs:annotation>
      <xs:documentation>
        Specify required relation when unlock may be triggered based on who owns the object.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="min" type="xs:float" >
      <xs:annotation>
        <xs:documentation>
          Minimum relation (defaults to -0.2, which is lower bound of neutral)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="max" type="xs:float" >
      <xs:annotation>
        <xs:documentation>
          Maximum relation (defaults to 1.0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="secrecy">
    <xs:annotation>
      <xs:documentation>
        Secrecy level a component must have for this unlock to trigger.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="min" type="xs:integer" >
      <xs:annotation>
        <xs:documentation>
          Minimum secrecy level (defaults to -1)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="max" type="xs:integer" >
      <xs:annotation>
        <xs:documentation>
          Maximum secrecy level (defaults to 3)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="wares">
    <xs:annotation>
      <xs:documentation>
        Specify which wares must be traded at the target location.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="buys" type="xs:string" >
      <xs:annotation>
        <xs:documentation>
          Space-separated list of wares (e.g. energycells) that must be bought at the location.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sells" type="xs:string" >
      <xs:annotation>
        <xs:documentation>
          Space-separated list of wares (e.g. energycells) that must be sold at the location.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="matchall" type="xs:boolean" >
      <xs:annotation>
        <xs:documentation>
          True if all wares in the list must be sold/bought, defaults to false.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="conditions">
    <xs:all>
      <xs:element name="distance" type="distance" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Maximum distance at which to unlock (default: as defined by globals node)
            Note: if max is used this will be a random value from min(default: 0!) to max
            This can result in very small values, making the unlock extremely hard to trigger!
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="owner" type="owner" minOccurs="0" maxOccurs="1" />
      <xs:element name="relation" type="relation" minOccurs="0" maxOccurs="1" />
      <xs:element name="secrecy" type="secrecy" minOccurs="0" maxOccurs="1" />
      <xs:element name="blueprintsecrecy" type="secrecy" minOccurs="0" maxOccurs="1" />
      <xs:element name="viewangle" type="viewangle" minOccurs="0" maxOccurs="1" />
      <xs:element name="wares" type="wares" minOccurs="0" maxOccurs="1" />
      <xs:element name="scannerlevel" type="scannerlevel" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="weight" type="weight" />
    <xs:attribute name="classes" type="classlist" />
    <xs:attribute name="firstperson" type="xs:boolean" >
      <xs:annotation>
        <xs:documentation>
          Whether the player must be on foot to trigger this unlock. (defaults to false)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="spacesuit" type="xs:boolean" >
      <xs:annotation>
        <xs:documentation>
          Whether the player must be in a spacesuit to trigger this unlock. (defaults to false)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="actions">
    <xs:all>
      <xs:element name="amount" type="amount" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Amount of the unlocked bonus effect.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duration" type="time" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Duration of the unlocked bonus effect.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="infoconditions">
    <xs:all>
      <xs:element name="distance" type="distance" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Maximum distance at which to unlock (default: as defined by globals node)
            Note: if max is used this will be a random value from min(default: 0!) to max
            This can result in very small values, making the unlock extremely hard to trigger!
            Only evaluated if scan="false".
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="owner" type="owner" minOccurs="0" maxOccurs="1" />
      <xs:element name="relation" type="relation" minOccurs="0" maxOccurs="1" />
      <xs:element name="secrecy" type="secrecy" minOccurs="0" maxOccurs="1" />
      <xs:element name="viewangle" type="viewangle" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Only evaluated if scan="false".
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="wares" type="wares" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Only evaluated if scan="false".
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scannerlevel" type="scannerlevel" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="weight" type="weight" />
    <xs:attribute name="classes" type="classlist" >
      <xs:annotation>
        <xs:documentation>
          Only evaluated if scan="false".
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="scan" type="xs:boolean" use="required" >
      <xs:annotation>
        <xs:documentation>
          Whether an active scan is required to trigger this unlock. Certain conditions are ignored when this is true.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="spacesuit" type="xs:boolean" >
      <xs:annotation>
        <xs:documentation>
          Whether the player must be in a spacesuit to trigger this unlock. (defaults to false)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="infoactions">
    <xs:all>
      <xs:element name="amount" type="amount" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Full percent of info locations to be unlocked.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scan" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Scan level of the unlocking chain (for active scans the smaller value between the scan being performed and the level defined here is used)
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="level" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:integer">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="6" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="secrecy" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Maximum secrecy level of component information that can be unlocked
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="max">
            <xs:simpleType>
              <xs:restriction base="xs:integer">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="6" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:attributeGroup name="sharedunlock">
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Unique unlock ID (unique across discounts and commissions!)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Unlock name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Unlock description
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:element name="rechecktime" type="time">
    <xs:annotation>
      <xs:documentation>
        Time after which this unlock may be triggered again at the same entity once it has been unlocked.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="unlock">
    <xs:annotation>
      <xs:documentation>
        Unlock definition
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="conditions" type="conditions" minOccurs="1" maxOccurs="1" />
      <xs:element name="actions" type="actions" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Apply unlock, required for discounts and commissions.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="rechecktime" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attributeGroup ref="sharedunlock" />
  </xs:complexType>

  <xs:complexType name="blueprintunlock">
    <xs:annotation>
      <xs:documentation>
        Unlock definition
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="conditions" type="conditions" minOccurs="1" maxOccurs="1" />
      <xs:element ref="rechecktime" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attributeGroup ref="sharedunlock" />
  </xs:complexType>

  <xs:complexType name="infounlock">
    <xs:annotation>
      <xs:documentation>
        Unlock definition
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="conditions" type="infoconditions" minOccurs="1" maxOccurs="1" />
      <xs:element name="actions" type="infoactions" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            Unlock info chain.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="rechecktime" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attributeGroup ref="sharedunlock" />
  </xs:complexType>

  <xs:complexType name="global">
    <xs:sequence>
      <xs:element name="adjustment" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:attribute name="discount" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Name for offsetting a discount (appears as a "negative commission")
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="commission" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Name for offsetting a commission (appears as a "negative discount")
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="maxdistance" type="unitvalue">
      <xs:annotation>
        <xs:documentation>
          No unlock checks will be done if the target is more than maxdistance away.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="threshold" type="unitvalue">
      <xs:annotation>
        <xs:documentation>
          If an unlock condition has been checked, no further checks will be made unless
          the player has moved at least a distance of threshold away from the current location
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rechecktime" type="unitvalue">
      <xs:annotation>
        <xs:documentation>
          Minimum time that must pass after an unlock has been triggered before *any* new unlock can be triggered
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="unlocks">
    <xs:annotation>
      <xs:documentation>
        Unlock library document node
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="globals" type="global" minOccurs="0" maxOccurs="1" >
          <xs:annotation>
            <xs:documentation>
              Global settings
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="discount" type="unlock" minOccurs="0" maxOccurs="unbounded" >
          <xs:annotation>
            <xs:documentation>
              Discount
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="commission" type="unlock" minOccurs="0" maxOccurs="unbounded" >
          <xs:annotation>
            <xs:documentation>
              Commission
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="blueprint" type="blueprintunlock" minOccurs="0" maxOccurs="unbounded" >
          <xs:annotation>
            <xs:documentation>
              Blueprint unlock
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="information" type="infounlock" minOccurs="0" maxOccurs="unbounded" >
          <xs:annotation>
            <xs:documentation>
              Information (chain unlocking)
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="unlock_id">
      <xs:selector xpath="discount|commission" />
      <xs:field xpath="@id" />
    </xs:key>
  </xs:element>

</xs:schema>
